php_value max_input_vars 100000000
php_value suhosin.get.max_vars 100000000
php_value suhosin.post.max_vars 100000000
php_value suhosin.request.max_vars 100000000

<IfModule mod_rewrite.c>
    RewriteEngine on
    Options +FollowSymLinks
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>
